extends layout

block content
    section(class="comment")
        form(class="comment__form" action="/blog/posts/${postID}/comments/${comment._id}?_method=PUT" method="POST")
            p User: #{comment.user}
            if commentText
            if commentText
                textarea(name="comment" required="true" style="resize: none") #{commentText}
            else 
                textarea(name="comment" required="true" style="resize: none") #{comment.comment}
            if errors
                each error in errors
                        p(style="color: red") - #{error.param}: #{error.msg}
            p Date: #{comment.commentDate}
            button(class="comment__button") Submit