extends layout 

block content
    section(class="post")
        nav(class="post__nav")
            ul(class="post__nav--list")
                li
                    a(href="/dashboard") DASHBOARD 
                li
                    a(href="/dashboard/posts") VIEW POSTS
        div(class="post__container")
            h1(class="post__container--title") #{post.title}
            p(class="post__container--post") #{post.post}
            p #{post.postDate}
            if post.edited
                p Edited: #{post.editedDate}
            div(class="post__buttons")
                button(class="post__button")
                        a(href=`/dashboard/posts/${post._id}/edit`) EDIT
                form(action=`/dashboard/posts/${post._id}?_method=DELETE` method="POST")
                    button(class="post__button") DELETE
        each comment in post.comments 
            div(class="post__commentContainer")
                if comment.user === "keffri"
                    p(class="post__commentContainer--user" style="color: red") #{comment.user}
                else
                    p(class="post__commentContainer--user") #{comment.user}
                p(class="post__commentContainer--text") #{comment.comment}
                hr
                p #{comment.commentDate}
                if comment.edited
                    p Edited: #{comment.editedDate}
                form(class="post__commentContainer--buttons" action=`/dashboard/posts/${post._id}/comments/${comment._id}?_method=DELETE` method="POST")
                    button(class="post__button") DELETE
                button(class="post__button")
                    a(href=`/dashboard/posts/${post._id}/comments/${comment._id}`) EDIT
        form(class="post__commentForm" action=`/dashboard/posts/${post._id}/comments` method="POST")
            label(for="comment")
            if commentText
                textarea(class="post__textarea" name="comment" required="true" style="resize: none") #{commentText}
            else
                textarea(class="post__textarea"  name="comment" required="true" style="resize: none")
            if errors
                each error in errors
                    p(style="color: red") - #{error.param}: #{error.msg}
            button(class="post__button") Submit