extends layout 

block content
    section(class="posts")
        nav(class="posts__nav")
            a(href="/dashboard") DASHBOARD
        each post in posts_list
            div(class="posts__container")
                a(class="posts__link" href=post.url) #{post.title}
                p(class="posts__post") #{post.post}
                p(class="posts__date") #{post.postDate}
                p Comments: #{post.comments.length}